section{
  background-image: url("http://localhost:4200/assets/images/s4.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
    background-position: center;
}
.btn{
  background-color: purple;

}
.btn:hover{
  background-color: plum;
}
.btn:focus{
  outline: none;
}

.btn2{

  display: inline-flex;
    margin-left: 1000px;
  text-decoration: none;
  background-color: purple;
  color: black;
  height: 35px;
  width: 80px;
  border-radius: 4px;
  padding-left:7px ;
  padding-top: 2px;
  margin-bottom: 20px;
}
.btn2:hover{
  background-color: plum;
}
.profile{
    width: 175vh;
    height: 73vh;
    background-image: url("http://localhost:4200/assets/images/plum.jpg"); 
    background-repeat: no-repeat;
    background-size: 100% 110%;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ccc;
}
  .navbar{
    background-color: purple;
    height: 95px;
    
  }
  h3{
    padding-left: 450px;
  }
  /* Apply styles to table header cells (th) */
  .profile th {
    background-color: plum;
    border: 3px solid purple;
    padding: 8px;
  }
  
  /* Apply styles to table data cells (td) */
  .profile td {
    border: 3px solid purple;
    padding: 8px;
    text-align: center;
  }

  .container-fluid{
    text-align: center;
  }
  
  /* Add alternating row colors for better readability */
  .profile tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Apply styles to the update button */
  .profile .btn {
    margin-top: 2px;
    
  }
  
.btn{
  margin-bottom: 10px;
}
